<%= javascript_include_tag "jquery", "jquery.flot" %>

<div id="chart">
</div>

<script type="text/javascript">
	$(function () {

		$("#chart").height(500).width(1200);
		// setup plot
		var options = {
		    series: { shadowSize: 0 }//, // drawing is faster without shadows
		    //yaxis: { min: -10, max: 10 },
		};

        $.ajax({
            url: "accel_datas.json",
            method: 'GET',
            dataType: 'json',
            success: function (series) {
				$.plot($("#chart"), [series], options);
	    	}
        });

	});
</script>
