<%# index.html.erb 
 Purpose: Mid term demo
 Author: Matheus Camargo
 		 matheus@go.wustl.edu
 CSE 467S -- Embedded Computing Systems
 WUSTL, Spring 2013
 Date: Mar., 25, 2013

 Description:
 	View of MVC architecture for light power index
%>
<h1>LightPower#index</h1>
<p>Find me in app/views/light_power/index.html.erb</p>
